@font-face {
    font-family: "Main";
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Main";
    src: url(fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Main";
    src: url(fonts/SourceSansPro-It.ttf);
    font-weight: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: "Main", Helvetica, Arial;
    font-size: 16px;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background: linear-gradient(to right, #9357b7, #4f057b);
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
}

header nav {
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

nav li {
    display: inline-block;
    padding: 0 24px;
    line-height: 2em;
    color: #5B2463;
}

nav li.selected {
    background-color: #5B2463;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: #9357b7;
}

p {
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 120%;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #87C445;
    color: #000;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

article .date {
    color: #555;
}

article p {
    font-size: 1.05em;
    line-height: 1.75;
}

article h2 {
    font-size: 1.5em;
    margin: 25px 0;
}

footer {
    color: #8a8a8a;
    font-size: 0.75em;
    text-align: center;
}

footer.socials {
    font-size: 1.05em;
}

.email-capture {
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    header .site-name {
        color: #fff;
    }
    
    body {
        color: #ddd;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: linear-gradient(to right, #9357b7, #4f057b);
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
